@use "/src/styles/abstracts" as *;

.about {
    .welcome {
        p {
            margin-top: 1em;
        }
    }
    .strengths {
        margin-top: 2em;
    }
}

@media (max-width: 1200px) {
    .about {
        text-align: center;

        .strengths .strengthBox{
                margin-bottom: 2em;
        }
    }
}