@use "/src/styles/abstracts" as *;

@mixin setSizeOfElement($lineWidth, $pointRadius, $marginLeft) {
    .line {
        width: $lineWidth;
        margin-left: calc($marginLeft - $lineWidth/2);
        border-radius: calc($lineWidth / 2);
    }

    .finalPoint {
        @include circle( calc( $pointRadius / 2 ) );
        margin-left: calc($marginLeft - $pointRadius/4);
    }

    .linePoint {
        @include circle( $pointRadius );
        margin-left: calc($marginLeft - $pointRadius/2);
        top: 16%;

        &::after {
            @include circle( calc($pointRadius * 0.7) );
            top: calc($pointRadius * 0.15);
            left: calc($pointRadius * 0.15);
        }
    }
}

$big-lineWidth: 0.5rem;
$big-pointRadius: 3.125rem;
$big-marginLeft: 1.5rem;

.education {
    .educationList {
        margin-top: 2em;
        position: relative;
        display: flex;
        flex-direction: column;

        @include setSizeOfElement($big-lineWidth, $big-pointRadius, $big-marginLeft);

        .line {
            position: absolute;
            height: 95%;
        }

        .finalPoint {
            display: block;
            position: absolute;
            bottom: 4%;
        }

        .educationItem {
            margin-bottom: 1em;
            position: relative;
        }

        .linePoint {
            position: relative;
            top: 12%;

            &::after {
                @include before-after;
                background-color: $primary;
                position: absolute;
                transition: background-color 300ms ease-in;
            }
        }

        .educationBox {
            float: right;
        }
    }
}

@media (hover:hover ) {
    .education {
        .educationList .educationBox{
            //when hovering, the ::after of the immediately next element 
            &:hover+.linePoint::after { 
                background-color: $secondary;
            }
        }
    }
}

$medium-lineWidth: 0.45rem;
$medium-pointRadius: 2.7rem;
$medium-marginLeft: 1.2rem;

@media (max-width: 1024px) {
    .education {
        .welcome {
            text-align: center;
        }
        
        .educationList {
            @include setSizeOfElement($medium-lineWidth, $medium-pointRadius, $medium-marginLeft);

            .linePoint {
                top: 16%;
            }

            .educationItem {
                margin-bottom: 1.25em;
            }
        }
    }
}

$small-lineWidth: 0.3rem;
$small-pointRadius: 2.5rem;
$small-marginLeft: 1rem;

@media (max-width: 739px) {
    .education {
        .educationList {
            @include setSizeOfElement($small-lineWidth, $small-pointRadius, $small-marginLeft);
    
            .linePoint {
                top: 17%;
            }
        }   
    }
}