@use "/src/styles/abstracts" as *;

.container {
    margin: 0;
    * {
        margin-top: 0.5rem;
        text-align: justify;
    }

    .date {
        font-family: 'Raleway-Semibold';
        font-size: 1.3em;
        text-align: right;
    }

    .preTitle {
        font-family: 'Raleway-Bold';
        font-size: 2.2em;
        margin-bottom: -0.3rem;
        letter-spacing: 0.0001em;
    }

    .title {
        font-size: 3.2em; 
        width: 100%;
        hyphens: auto;
    }

    .subTitle {
        font-family: 'Quicksand-SemiBold';
        font-size: 1.3em;
    }

    .heading {
        font-family: 'Raleway-Bold';
        font-size: 2.3em;
        line-height: 1.1em;
        margin-top: 2.5rem;
    }

    .subheading {
        font-family: 'Raleway-SemiBold';
        font-size: 1.8em;
        line-height: 1.1em;
        margin-top: 2rem;
    }

    img {
        width: 90%;
        position: relative;
        margin-top: 3rem;
        @include horizontal-center;
    }

    .imageDescription {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.2em;
        font-family: 'Quicksand-Medium';
        font-style: italic;
        text-align: center;
    }

    .paragraph {
        font-size: 1.3em;
        b{
            font-weight: 800;
        }
    }

    .paragraph+.paragraph {
        margin-top: 1rem;
    }

    a {
        margin-left: 2em;
    }

    .list {
        list-style:disc outside none;
        display:list-item; 
        margin-left: 2em;
    }
}

@media (max-width: 1024px) {
   .container {
        .title {
            font-size: 2.5em; 
        }
   }
}

@media (max-width: 724px) {
    .container {
        .preTitle {
            font-size: 2em;
        }

         .title {
             font-size: 2em;
         }

         .heading {
            font-size: 1.5em;
         }

         .paragraph {
            font-size: 1.2em;
         }
    }
 }