// Color Palette
$white-900:  #fff;
$white-800:  #f1f1f1;
$white-700:  #e1e1e1;
$white-600:  #c6c6c6;
$white-500:  #adadad;
$white-400:  #939393;
$white-300:  #7a7a7a;
$white-200:  #606060;
$white-100:  #474747;

$black-900: #000000;
$black-800: #1C1C1E;
$black-700: #27282B;
$black-600: #373838;
$black-500: #47484b;
$black-400: #57585b;
$black-300: #67686b;
$black-200: #77787b;
$black-100: #87888b;

$teal-700: #2C4552;
$teal-600: #395E62;
$teal-500: #469B8F;
$teal-400: #54aba7;
$teal-300: #62bbbf;
$teal-200: #70cbc7;
$teal-100: #7edbd7;

$primary: $teal-600;
$secondary: $teal-500;
$background: $white-900;
$component-background: $white-900;

$dark-primary: $teal-400;
$dark-background: $black-800;
$dark-component-background: $black-700;



