@use "/src/styles/abstracts" as *;

.box {
    width: 100%;
    height: 21.5em;
    box-shadow: $shadow-2;
    position: relative;
    @include transition(scale);

    .imgPart {
        width: 100%;
        height: 65%;

        img {
            @include imageFixed;
        }

    }

    .nameplate {
        height: 35%;
        width: 100%;
        padding: 1em;
        overflow: hidden;
        @include transition(transform);

        .subTitle, .text {
            @include transition(font-size);
        }

        .title {
            font-size: 2.2em;
            font-family: 'Raleway-SemiBold' !important;
            line-height: 1.3;
            @include transition(font-size line-height);
        }
    }
}

@media (hover: hover) {
    .box:hover {
        scale: 1.05;
    }
}

