@use "/src/styles/abstracts" as *;

.home {

    .leftPart {
        margin-top: 6em;

        h3 {
            font-family: 'Raleway-ExtraBold';
            font-size: 2.5em;
        }

        h1 {
            font-family: 'Raleway-ExtraBold';
            font-size: 5em;
            line-height: 1em;
        }

        p {
            font-size: 1em;
        }

        .button {
            margin-top: 1.875em;
            position: relative;
        }
    }

    .rightPart {
        height: 41.5em;

        .overlay {
            width: 100%;
            height: 80%;
            background-color: $primary;
            position: relative;

            .hole {
                width: 15.75em;
                height: 15.75em;
                border-radius: 50%;
                position: absolute;
                top: 10em;
            }

            img {
                width: 30em;
                contain: content;
                position: absolute;
                bottom: -30px;

                left: 50%;
                transform: translateX(-50%);
            }
        }

        .nameplate {
            width: 100%;
            height: 20%;
            padding: 1em;
            background-color: $black-800;
            color: $white-800 !important;
            position: relative;

            h3 {
                font-family: "Anisver";
                font-size: 2.5em;
                text-align: center;
            }

            p {
                font-family: "Raleway";
                font-size: 2.125em;
                text-align: center;
            }
        }
    }
}

.dark-theme {
    .overlay {
        background-color: $black-600 !important;
    }

    .nameplate {
        background-color: $black-700 !important;
        color: $white-800 !important;
        position: relative;

        h3 {
            font-family: "Anisver";
            font-size: 2.5em;
            text-align: center;
        }

        p {
            font-family: "Raleway";
            font-size: 2.125em;
            text-align: center;
        }
    }
}

@media (max-width: 1023px) {
    .home {
        .leftPart {
            margin-top: 0;
            .buttonsContainer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        .rightPart {
            margin-top: 2em;
        }
    }
}