@use "/src/styles/abstracts" as *;

.home {

    .leftPart {
        margin-top: 6em;

        h3 {
            font-family: 'Raleway-ExtraBold';
            font-size: 2.5em;
        }

        h1 {
            font-family: 'Raleway-ExtraBold';
            font-size: 5em;
            line-height: 1.2em;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2em;
        }

        .button {
            margin-top: 1.875em;
            position: relative;
        }
    }

    .rightPart {
        aspect-ratio: 1/1.5;

        .overlay {
            width: 100%;
            height: 80%;
            background-color: $primary;
            position: relative;

            .hole {
                @include circle(60%);
                position: absolute;
                top: 30%;
            }

            img {
                width: 112%;
                contain: content;
                position: absolute;
                bottom: -30px;
                left: 50%;
                @include prefix(transform, translateX(-50%));
            }
        }

        .nameplate {
            width: 100%;
            height: 20%;
            padding: 1em;
            background-color: $black-800;
            color: $white-800 !important;
            position: relative;

            h3 {
                font-family: "Anisver";
                font-size: 2.5em;
                text-align: center;
            }

            p {
                font-family: "Raleway";
                font-size: 2.125em;
                text-align: center;
            }
        }
    }
}

.dark-theme {
    .overlay {
        background-color: $black-600 !important;
    }

    .nameplate {
        background-color: $black-700 !important;
        color: $white-800 !important;
        position: relative;

        h3 {
            font-family: "Anisver";
            font-size: 2.5em;
            text-align: center;
        }

        p {
            font-family: "Raleway";
            font-size: 2.125em;
            text-align: center;
        }
    }
}

@media (max-width: $PC-low) {
    .home {
        .leftPart {
            margin-top: 0;
            .buttonsContainer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        .rightPart {
            margin-top: 2em;
        }
    }
}

@media (max-width: $tablet) {
    .home {
        .leftPart {
            h3 {
                font-size: 2.0em;
            }

            h1 {
                font-size: 4em;
            }
        }

        .rightPart {
            .nameplate {    
                h3 {
                    font-size: 2em;
                }
    
                p {
                    font-size: 1.6em;
                }
            }
        }
    }
}

@media (max-width: $mobile-L) {
    .home {
        .leftPart {
            h3 {
                font-size: 1.8em;
            }

            h1 {
                font-size: 3.0em;
            }

            p {
                font-size: 0.95em;
            }

            .button {
                width: 100%;
                margin-top: 1em;
            }
        }

        .rightPart {
            .nameplate {    
                h3 {
                    font-size: 1.6em;
                }
    
                p {
                    font-size: 1.2em;
                }
            }
        }
    }
}