@use "/src/styles/abstracts" as *;

$info-width: 60%;
$form-width: 65%;
$overlay-width: 80%;
$overlay-height: 35em;
$offset-right: calc(100% - $overlay-width);

.overlay {
    width: $overlay-width;
    margin-left: $offset-right;
    height: $overlay-height;
    position: relative;
    box-shadow: $shadow-2;
    
    .info {
        position: absolute;
        width: $info-width;
        height: 90%;
        left: calc( -1 * $offset-right / $overlay-width * 100% );
        @include vertical-center;
        padding: 1.8em;

        .title {
            font-family: 'Raleway-Bold';
            text-align: center;
            font-size: 2.5em;
            margin-top: 0.2em;
        }

        .subTitle {
            font-family: 'Raleway-SemiBold';
            margin-top: 1em;
            font-size: 1.45em;
        }

        .detail {
            font-size: 1.35em;
            text-decoration: none;
        }

        .divLine {
            width: 80%;
            height: 0.15em;
            border-radius: 0.075em;
            display: block;
            background-color: $white-500;
            margin: 2em auto 1.5em auto;
        }

        .socialMedia {
            width: 60%;
            margin: auto;
            display: flex;
            font-size: 2.8em;
            justify-content: space-between;

            a {
                color: inherit;
            }
        }

        a {
            display: block;
        }
    }

    .formContact {
        width: $form-width;
        float: right;
        padding: 1.8em 2em 1em 2em;

        .title {
            font-family: 'Raleway-SemiBold';
        }
    }
}

@media (hover: hover) {
    .overlay {
        .infor {
            .socialMedia a:hover {
                transition-delay: 0s;
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 1024px) {
    .overlay {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: auto;

        .info {
            position: relative;
            left: 0;
            width: 100%;
            @include prefix(translate, 0 0);
            padding: 1em 3em 1em 3em; 
        }

        .formContact {
            width: 100%;
            padding-bottom: 2em;

            .btnInside{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media (max-width: 764px) {
    .overlay {
        .info {
            padding: 1.2em; 
        }
    }
}