@use "/src/styles/abstracts" as *;

.contact {
    .contactForm {
        margin-top: 2em;
    }
}

@media (max-width: 1200px) {
    .contact {
        padding-bottom: 5em !important;
        .welcome {
            text-align: center;
        }
    }
}