@use "/src/styles/abstracts" as *;

.activities {
    
    .buttons {
        // position: absolute;
        margin-top: 2em;

        .btnInside {
            margin-bottom: 1.2em;
        }
    }
}

@media (max-width: 1200px) {
    .activities {
        .welcome {
            text-align: center;
        }

        .projectsList {
            display: flex;
            margin-top: 2em;
            justify-content: center;
        }
    }
}