@use "/src/styles/abstracts" as *;

$size: 2.75rem;

.button {
    cursor: pointer;

    .overlay {
        @include circle($size);
        overflow: hidden;

        i {
            font-size: 1.5em;
            margin-top: 0.2em;
        }

        img {
            @include imageFixed;
        }
    }
}