@use "/src/styles/abstracts" as *;

$size: 2.75rem;

.button {
    cursor: pointer;

    .overlay {
        width: $size;
        height: $size;
        border-radius: 50%;
        overflow: hidden;

        i {
            font-size: 1.5em;
            margin-top: 0.2em;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}