@use "/src/styles/abstracts" as *;
.contentEditor {
		margin: 1.25px 0;
		width: 100%;
	}
	
	.languageSelector {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		margin-bottom: 1.25rem;
		
		h4 {
			margin: 0;
			flex-shrink: 1;
		}

		.dropdown {
			flex: 1
		}

		.emptyLangBox {
			padding: 0.5rem;
			border: 2px solid $border-color;
			width: 100%;
			border-radius: 8px;
		}
	}
	
	.languageContent {
		border: 1px solid $border-color;
		border-radius: 8px;
		padding: 1rem;
		margin-bottom: 1.25rem;
		background-color: $background;
	
		.languageHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1rem;
			
			h3 {
				margin: 0;
			}
		}
	}
	
	.inputGroup {
		margin-bottom: 15px;
		
		label {
			display: block;
			margin-bottom: 0.325rem;
			font-weight: 600;
		}
		
		& > input, & > textarea {
			width: 100%;
			padding: 10px;
			border: 2px solid $border-color;
			border-radius: 8px;
			background-color: $background;
		}
		
		& > textarea {
			resize: vertical;
		}
	}
	
	.removeBtn {
		background-color: $danger;
		color: $white-900 !important;
		border: none;
		border-radius: 8px;
		padding: 0.5rem 0.8rem;
		cursor: pointer;
		
		&:hover {
			background-color: $danger;
		}
	}

	.contentMdEditor {
		border: 2px solid $border-color;
	}

:global(.w-md-editor)
{
	font-family: 'Quicksand', sans-serif !important;
	:global(.w-md-editor-text-pre) > code,
	:global(.w-md-editor-text-input) {
		font-size: 1.1rem !important;
		line-height: 1.2 !important;
	}

	&, * {
        font-family: inherit !important;
		--md-editor-font-family: 'Quicksand', sans-serif !important;
		--color-canvas-default: $background !important;
    }

	:global(.wmde-markdown) {
		font-family: 'Quicksand', sans-serif !important;
	}
}