@use "/src/styles/abstracts" as *;

$plusSize: 1.25em;

.box {
    @include button-reset;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid $black-300;
    cursor: pointer;
    max-width: 30em;

    .overlay {
        width: 100%;
        height: 3rem;
        padding: 0.5em;
        display: flex;

        .iconCover {
            font-size: 2.25em !important;
            transition: color 300ms ease-in;
        }

        h3 {
            font-family: 'Raleway-SemiBold';
            font-size: 1.3em;
            line-height: 2em;
            padding-left: 1em;
            flex-grow: 2;
        }

        .iconPlus {
            position: relative;
            width: 2.25em;

            &::before{
                content: "";
                position: absolute;
                height: $plusSize;
                width : 0.125em;
                @include transition(transform);
            }

            &::after {
                content: "";
                position: absolute;
                width: $plusSize;
                height: 0.125em;
                @include transition(transform);
            }
        }
    }

    .expandArea {
        position: relative;
        width: 100%;
        bottom: 0;
        height: 0;

        overflow: hidden;
        padding: 0 0.8rem 0 0.8rem;
        font-size: .9em !important;
        @include transition(height background-color);

        p b{
            font-weight: 800;
            color: $primary;
        }
    }

    &.open {
        .iconCover {
            color: $secondary;
        }

        .expandArea{
            display: block;
            height: 7.5em;
            z-index: 20;
        }

        .iconPlus {
            &::before{
                transform: rotate(90deg);
            }

            &::after {
                transform: rotate(180deg);
            }

        }
    }

}

@media (max-width: $tablet) {
    .box {
    
        .overlay {
            height: 2.6rem;
    
            .iconCover {
                font-size: 2em !important;
            }
    
            h3 {
                font-size: 1em;
                line-height: 2.5em;
                padding-left: 0.5em;
            }
        }

        &.open {
            .expandArea{
                height: 6.5em;
            }
        }
    }
}

