@use "/src/styles/abstracts" as *;

.fbutton {
    z-index: 90;
    position: fixed;
    bottom: 2em;
    right: 2em;
    @include transition(bottom);

    &.hide {
        bottom: -5em;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .outside {
        @include circle(3.6em);
        margin-right: 0.5em;
    }

    .overlay {
        display: flex;
        overflow: auto;
        background-color: $secondary;
        padding: 0.7em;
        border-radius: 2em;

        li {
            margin-left: 0.3em;
            margin-right: 0.3em;
        }
    }
}

.light-theme {
    .outside {
        background-color: $black-400;
    }
}

.dark-theme {
    .outside {
        background-color: $white-300;
    }

    .overlay {
        background-color: $primary;
    }
}

@media (max-width: $PC-low) {
    .fbutton {
        .desktop {
            display: none;
        }
    
        .mobile {
            display: block;

            .overlay {
                position: absolute;
                z-index: 20;
                right: 0;
                bottom: 0;
            }

            .outside {
                margin: 0;
            }

            .container {
                position: absolute;
                width: 100%;
                bottom: 0.5em;
                right: 2em;

                @include transition(bottom);

                li {
                    position: absolute;
                    @include transition(bottom);
                    @include horizontal-center;
                }
            }

            @for $i from 1 to 8 {
                li:nth-child(#{$i}) {
                    bottom: calc($i * 4em);
                }
            }

            &.close .container li{            
                bottom: 0;
            }
        }
    }
}

@media (max-width: $mobile-L) {
    .fbutton {
        bottom: 1em;
        right: 1em;
    }
}