@use "/src/styles/abstracts" as *;

$sideBarWidth: 18.75rem;
$imageSize: 12.5em;
$sizeButton: 4rem;

.sideBar {
    height: 100vh;
    width: $sideBarWidth;
    position: fixed;
    z-index: 20;

    img {
        @include circle($imageSize);
        background-color: $primary;
        margin-top: 2.5em;
    }

    h2 {
        color: $secondary !important;
        font-family: "Raleway-SemiBold";
        font-size: 2em;
        text-align: center;
        margin-top: 0.5em;
    }

    p {
        width: 100%;
        text-align: center;
    }

    ul {
        margin-top: 2em;
        text-align: center;
        width: 100%;

        li {
            position: relative; 
            width: 100%;
            display: flex;
            justify-content: center;
            padding: .4em;

            button {
                @include button-reset;

                display: table-cell;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.05em;

                font-family: 'Quicksand-Medium';
                font-size: .9em;
                transition: font-family 300ms ease;
                
                display: inline-block;
                position: relative;
                color: $primary;

                &::after{
                    @include before-after;
                    background: none repeat scroll 0 0 transparent;

                    height: .2em;
                    border-radius: 0.1em;
                    background-color: $white-400;
                    bottom: -7px;

                    position: absolute;
                    width: 0;
                    left: 50%;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                }

                &.underline::after { 
                    width: 90%; 
                    left: 4%; 
                    background-color: $primary;
                }
            }

            &:hover button{
                font-family: 'Quicksand-SemiBold';

                &::after {
                    width: 90%; 
                    left: 4%; 
                }
            }
        }
    }

    .openButton {
        display: none !important;
    }
}

.light-theme {
    background-color: $white-700;
    .openButton {
        background-color: $white-700;
    }
}

.dark-theme{
    background-color: $black-600;
    .openButton {
        background-color: $black-600; 
    }
}

@media (max-width: 1240px) {
    .sideBar {
        width: $sideBarWidth;
        left: -$sideBarWidth;
        @include transition(left box-shadow);
        box-shadow: $shadow-1;

        &.open {
            left: 0;

            &+.overlay {
                @include overlay;
                z-index: 19;
                background-color: rgba(49, 49, 49, 0.12);
                @include prefix( backdrop-filter, blur(2.8px) );
            }
        }

        .openButton{
            display: flex !important;
            border: none;
            width: $sizeButton;
            height: $sizeButton;

            position: absolute;
            top: 2rem;
            right: - $sizeButton;

            border-radius: 0 0.2em 0.2em 0;
            font-size: 2em;
        }
    }
}