@use "/src/styles/abstracts" as *;

$sideBarWidth: 18.75rem;

.sideBar {
    height: 100vh;
    width: $sideBarWidth;
    position: fixed;

    img {
        width: 12.5em;
        height: 12.5em;
        background-color: $primary;
        margin-top: 2.5em;
        border-radius: 50%;
    }

    h2 {
        color: $secondary !important;
        font-family: "Raleway-SemiBold";
        font-size: 2em;
        text-align: center;
        margin-top: 0.5em;
    }

    p {
        width: 100%;
        text-align: center;
    }

    ul {
        margin-top: 2em;
        text-align: center;
        width: 100%;

        li {
            position: relative; 
            width: 100%;
            display: flex;
            justify-content: center;
            padding: .4em;

            button {
                background: none;
                border: none;
                padding: 0;
                outline: none;

                display: table-cell;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.05em;

                font-family: 'Quicksand-Medium';
                font-size: .9em;
                transition: font-family 300ms ease;
                
                display: inline-block;
                position: relative;
                color: $primary;

                &::after{
                    content: "";
                    background: none repeat scroll 0 0 transparent;
                    display: block;
                    height: .2em;
                    border-radius: 0.1em;
                    background-color: $white-400;
                    bottom: -7px;

                    position: absolute;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                    left: 50%;
                }

                &.underline::after { 
                    width: 90%; 
                    left: 4%; 
                }

                &.underline::after {
                    background-color: $primary;
                }
            }

            &:hover button{
                font-family: 'Quicksand-SemiBold';

                &::after {
                    width: 90%; 
                    left: 4%; 
                }
            }
        }
    }
}

.light-theme {
    background-color: $white-700;
    .openButton {
        background-color: $white-700;
    }
}

.dark-theme{
    background-color: $black-600;
    .openButton {
        background-color: $black-600;
    }
}

@media (max-width: 1240px) {
    $sizeButton: 4rem;
    $bigSizeBarWidth: 28rem;
    .sideBar {
        width: $bigSizeBarWidth;
        z-index: 99;
        left: -$bigSizeBarWidth;
        transition: left 300ms ease-out;

        &.open {
            left: 0;

            &+.overlay {
                z-index: 95;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .openButton{
            border: none;
            width: $sizeButton;
            height: $sizeButton;

            position: absolute;
            top: 2rem;
            right: - $sizeButton;

            border-radius: 0 0.2em 0.2em 0;
            font-size: 2em;
        }


    }
}