@use "/src/styles/abstracts" as *;

.signInContainer {
    box-shadow: $shadow-2;
    width: min(35rem, 90%);
    position: relative;
    @include center;
    
    padding: 3rem 4rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;

    .welcome {
        text-align: center;

        p {
            margin-top: 0.5rem;
            font-size: 1rem;
        }

        p.errorText {
            color: #f25c54;
            font-size: 1.1rem;
            margin-top: 1rem;
            text-align: center;
        }
    }

    .formSignin {
        width: 100%;

        .btnSignin {
            position: relative;
            @include horizontal-center();
            margin-bottom: 1.2rem;
            margin-top: 0.5rem;
        }
    }
}

@media (hover: hover) {
}

@media (max-width: 1024px) {
}

@media (max-width: 764px) {

}