@use "/src/styles/abstracts" as *;

.projects {

    .projectsList {
        margin-top: 2em;

        .projectItem {
            margin-bottom: 1.5em;
        }
    }

    .loadingContainer h2, .errorContainer h2{
        text-align: center;
        font-size: 1.6em;
    }

    .errorIcon {
        display: flex;
        justify-content: center;
        font-size: 4rem;
        margin-bottom: 0.6rem;
        color: $danger;
    }
}

@media (max-width: 1024px) {
    .projects {
        padding-bottom: 2em !important;
        .welcome {
            text-align: center;
        }

        .projectsList {
            @include horizontal-center-list;
            margin-top: 2em;
        }
    }
}

:global(.dark-theme) {
    .errorIcon {
        color: $dark-danger;
    }
}