@use "/src/styles/abstracts" as *;

.projects {
    &.notRendered {
        padding-bottom: 45rem !important;
    }

    .projectsList {
        margin-top: 2em;

        .projectItem {
            margin-bottom: 1.5em;
        }
    }
}

@media (max-width: 1200px) {
    .projects {
        padding-bottom: 2em !important;
        .welcome {
            text-align: center;
        }

        .projectsList {
            @include horizontal-center-list;
            margin-top: 2em;
        }
    }
}