@use "/src/styles/abstracts" as *;

.skills {
    padding-bottom: 15em !important;
    
    .skillsList {
        // position: absolute;
        margin-top: 2em;
    }

    .leftPart, .rightPart {
        position: absolute;
    }
}