@use "/src/styles/abstracts" as *;

.skills {
    margin-bottom: calc(3rem * 4);
    
    .skillsList {
        margin-top: 2em;
    }

    .listContainer {
        position: relative;
    }

    .skillsListMobile {
        display: none;
    }

    .leftPart, .rightPart {
        position: absolute;
        z-index: 20;
        @include horizontal-center-list;
    }
}

@media (max-width: 1023px) {
    .skills {
        margin-bottom: calc(3rem * 8);
        .welcome {
            text-align: center;
        }
    
        .skillsList{
            display: none;
        }

        .listContainer {
            .skillsListMobile {
                width: 100%;
                position: absolute;
                display: block;
                margin-top: 2em;
                z-index: 20;
                
                @include horizontal-center-list;
            }
        }
    }
}