@use "/src/styles/abstracts" as *;

.skills {
    padding-bottom: 15em !important;
    
    .skillsList {
        // position: absolute;
        margin-top: 2em;
    }

    .skillsListMobile {
        display: none;
    }

    .leftPart, .rightPart {
        position: absolute;
    }
}

@media (max-width: 1023px) {
    .skills {
        margin-bottom: 12em;
        .welcome {
            text-align: center;
        }
    
        .skillsList{
            display: none;
        }

        .skillsListMobile {
            position: absolute;
            display: block;
            margin-top: 2em;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}