@use "/src/styles/abstracts" as *;

.overlay {
    @include overlay;
    background-color: $secondary;

    img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 80%;
        right: 0;
    }
}

@media (max-width: 1200px) {
    .overlay {
        img {
            left: 0;
            width: 100%;
        }
    }
}

@media (max-width: 764px) {
    .overlay {
        img {
            left: 0;
            height: 80%;
        }
    }
}