@use "/src/styles/abstracts" as *;

* {
    transition: background-color 300ms ease-in, border-right 300ms ease-in;
}

.scroll {
    overflow-y: scroll;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        width: 22px;
        border-radius: 11px;
        background-clip: padding-box;
        border: 10px solid transparent;
        color: $primary
    }
    &::-webkit-scrollbar-thumb {        
        box-shadow: inset 0 0 0 10px;
    }
}

.flex {
    display: flex !important;
    @include prefix(justify-content, center);
    @include prefix(align-items, center);
}

.horizontal-center {
    margin-left: 50%;
    translate: -50% 0;
}

.title {
    font-family: 'Raleway-ExtraBold';
    font-size: 3.5em;
    line-height: 1.3em;

    &.maj {
        text-transform: uppercase;
    }
}

.sub-title {
    font-family: 'Quicksand-Medium';
    font-size: 1.8em;
}

.text {
    font-family: 'Quicksand';
    font-size: 1.2em;
    text-align: justify;
}

.light-theme {
    .title {
        color: $primary;
    }

    .text, .sub-title {
        color: $black-800;
    }

    &.background,
    .background {
        background-color: $background;
    }

    .bg-component {
        background-color: $component-background;
    }

    .bg-component-darker {
        background-color: $component-background-darker;
    }

    .bg-component-primary {
        background-color: $primary;
        .text, .sub-title, .title {
            color: $white-800;
        }
    }

    .inverse-bg::after, .inverse-bg::before {
        background-color: $black-800 !important;
    }

    .border-as-bg { //border has same color as background
        border-color: $background;
    }

    .border-as-component { //border has same color as component
        border-color: $component-background;
    }

    .border-as-component-darker { //border has same color as component
        border-color: $component-background-darker;
    }
}

.dark-theme {
    .title {
        color: $dark-primary;
    }

    .text, .sub-title {
        color: $white-600;
    }

    &.background,
    .background {
        background-color: $dark-background;
    }
    
    .bg-component {
        background-color: $dark-component-background;
    }

    .bg-component-darker {
        background-color: $dark-component-background-darker;
    }

    .bg-component-primary {
        background-color: $dark-component-background-darker;
    }

    .border-as-bg {
        border-color:$dark-background;
    }

    .inverse-bg::after, .inverse-bg::before {
        background-color: $white-600 !important;
    }

    .border-as-component { //border has same color as component
        border-color: $dark-component-background;
    }

    .border-as-component-darker { //border has same color as component
        border-color: $dark-component-background-darker;
    }
}

@media (max-width: 764px) {
    .title {
        font-size: 3em;
        line-height: 1.3em;
    }
    
    .sub-title {
        font-size: 1.5em;
    }
    
    .text {
        font-size: 1.1em;
    }
}


