@use "/src/styles/abstracts" as *;

$small-width: 8em;
$medium-width: 21.25em;
$large-width: 30em;
$height: 4.5em;

.button {
    @include button-reset;
    overflow: hidden;
    box-shadow: $shadow-2;
    cursor: pointer;

    .overlay {
        width: 100%;
        height: 100%;
        position: relative;
        
        p, 
        .icon {  
            @include transition(color font-size);
            z-index: 2;
        }

        &::before {
            @include before-after;
            position: absolute;
            width: 0.3em;
            height: 80%;
            background-color: $primary;
            left: 0.4em;
            border-radius: 0.15em;
        }

        &::after {
            @include before-after;
            position: absolute;
            width: 10em;
            height: 10em;
            background-color: $primary;
            left: -10em;
            border-radius: 50%;
            @include transition(width height, 500ms);
        }
    }

    .overlay:hover,
    .overlay.fill{
        p, 
        .icon {
            color: $white-900 !important;
        }

        &::after {
            width: 50em;
            height: 50em;
        }
    }
}

.small {
    width: $small-width;
    height: $height * 0.8;

    .overlay {        
        p {  
            font-size: 1.5em !important;
        }
        .icon {
            font-size: 1.7em;
        }

        &::before {
            display: none;
        }

        &.fill:hover p{
            font-size: 1.7em !important;
        }
    }
}

.medium {
    width: $medium-width;
    height: $height;

    .overlay {        
        p {  
            font-size: 1.5em !important;
        }
        .icon {
            font-size: 1.7em;
        }

        &.fill:hover p{
            font-size: 1.7em !important;
        }
    }
}

.large {
    width: $large-width;
    height: $height;

    .overlay {        
        p {  
            font-size: 1.8em !important;
        }
        .icon {
            font-size: 2em;
        }

        &.fill:hover p{
            font-size: 2em !important;
        }
    }
}

.withIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1.2rem;
}

.noIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .button {
        div {
            p, .icon {
                color: $white-900 !important;
            }
    
            &::after {
                width: 50em !important;
                height: 50em !important;
            }
        }
    }
}