@use "/src/styles/abstracts" as *;

.box {
    width: min(100%, 25em);
    height: 21.5em;
    box-shadow: $shadow-2;
    position: relative;
    overflow: hidden;

    .imgPart {
        width: 100%;
        height: 65%;
        overflow: hidden;

        img {
            @include imageFixed;
            @include transition(width object-position)
        }

    }

    .nameplate {
        height: 37%;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1em;
        overflow: hidden;
        @include transition(transform);

        .subTitle, .text {
            @include transition(font-size);
        }

        .title {
            font-size: 2.2em;
            font-family: 'Raleway-SemiBold' !important;
            line-height: 1.3;
            @include transition(font-size line-height);
        }
    }
}

@media (hover: hover) {
    .box:hover {
        .imgPart img {
            width: 110%;
            object-position: -1em 50%;
        }
        
        .nameplate {
            transform: translateX(1em) scale(1.1);

        }
    }
}

