@use "/src/styles/abstracts" as *;

.box {
    width: 90%;
    height: auto;
    position: relative;

    .overlay {
        width: 97%;
        height: 100%;
        padding: 1em; 
        float: right;

        .header {
            display: flex;
            align-items: center;

            .title {
                font-size: 1.4em;
                transition: color 300ms ease-in;
            }

            .subTitle {
                font-size: 1.25em;
                padding-left: 2em;
            }
        }

        &:hover {
            .title {
                color: $secondary;
            }
        }
    }

    .triangle {
        @include left-triangle(3%, 1.5em);
        position: absolute;
        top: 20%;
    }

}

@media (max-width: 1024px) {
    .box {
        .overlay {
            .header {
                flex-direction: column;
                align-items: start;

                .subTitle {
                    padding-left: 0;
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}