@use "/src/styles/abstracts" as *;

.box {
    width: 90%;
    height: auto;
    position: relative;
    $triangle-width: 1em;

    .overlay {
        width: calc(100% - $triangle-width);
        height: 100%;
        padding: 1em; 

        float: right;

        .header {
            display: flex;
            align-items: center;

            .title {
                font-size: 1.4em;
                transition: color 300ms ease-in;
            }

            .subTitle {
                font-size: 1.25em;
                padding-left: 2em;
            }
        }

        .triangle {
            content: "";
            display: block;
            position: absolute;
            left: - $triangle-width;
            top: 20%;

            border-top: calc($triangle-width / 2) solid transparent;
            
            border-right-style: solid;
            border-right-width: $triangle-width ;

            border-left: $triangle-width solid transparent;
            border-bottom: calc($triangle-width / 2) solid transparent;
        }

        &:hover {
            .title {
                color: $secondary;
            }
        }
    }

}